{{#each data}}
 <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="heading{{id}}">
                <h2 class="mb-0">
                    <button class="btn btn-link accordion-heading" type="button" data-toggle="collapse" data-target="#collapse{{id}}" aria-expanded="true" aria-controls="collapse{{id}}">
                        {{name}}
                    </button>
                </h2>
            </div>

            <div id="collapse{{id}}" class="collapse" aria-labelledby="heading{{id}}" data-parent="#accordionExample">
            <div class="card-body">
                     <table class="table user-score-table">
                                         <thead>
                                         <tr>
                                             <th></th>
                                             <th>Name</th>
                                             <th>Email</th>
                                             <th>Score (num)</th>
                                             <th>Percentage (%)</th>
                                             <th>Time Allowed</th>
                                             <th>Time Taken</th>
                                             <th>Date of Test</th>
                                         </tr>
                                         </thead>
                                         <tbody class="score_list user-table test-{{id}}"></tbody>
                                     </table>
                </div>
            </div>
        </div>
    </div>
{{/each}}