{{#each data}}
<tr
    {{#if this.autoCompleted}}
        class="autocomplete-grade key-user-information-data-row"
    {{else if this.topGrade}}
         class="top-grade key-user-information-data-row"
    {{else if this.passingGrade}}
         class="passing-grade key-user-information-data-row"
    {{else if this.fail}}
         class="dubious-grade key-user-information-data-row"
    {{else if this.notTakenYet}}
         class="test-not-taken key-user-information-data-row"
    {{/if}}>
    <td dataId="{{id}}" dataName="{{name}}" dataEmail="{{email}}"  dataPercentage="{{percentage}}" dataTime="{{time}}" dataTimeAllowed="{{timeAllowed}}" dataCanRetake="{{canRetake}}" dataTestId="{{this.testId}}" dataCategoryId="{{this.categoryId}}">
       <button class="btn more-info-button btn_height" data-id="{{id}}">More info</button>
     </td>
     <td class="name">{{name}}</td>
     <td class="email">{{email}}</td>
     <td class="percentage">{{results.[0].percentage}}</td>
     <td class="date"></td>
     {{#if autoCompleted}}
     <td class="autocomplete-icon"><i title="Autocompleted" class="icon-autocomplete bi bi-exclamation-diamond"></i>
     {{else}}
     <td class="autocomplete-icon"></td>
     {{/if}}
</tr>
<tr data-id="{{id}}"
        {{#if this.autoCompleted}}
            class="autocomplete-grade user-information-secondary-data-row hide"
        {{else if this.topGrade}}
             class="top-grade user-information-secondary-data-row hide"
        {{else if this.passingGrade}}
             class="passing-grade user-information-secondary-data-row hide"
        {{else if this.fail}}
             class="dubious-grade user-information-secondary-data-row hide"
        {{else if this.notTakenYet}}
             class="test-not-taken user-information-secondary-data-row hide"
        {{/if}}>
        <td>
            <table>
                <tr>
                    <td>
                        <button dataId="{{id}}" dataName="{{name}}" dataEmail="{{email}}"  dataPercentage="{{percentage}}" dataTime="{{time}}" dataTimeAllowed="{{timeAllowed}}" dataCanRetake="{{canRetake}}" dataTestId="{{this.testId}}" dataCategoryId="{{this.categoryId}}" class="btn edit-user-button btn_height modalBtn">Edit user</button>
                    </td>
                </tr>
                {{#unless testNotTaken}}
                <tr>
                    <td dataId="{{id}}" dataName="{{name}}" dataEmail="{{email}}"  dataPercentage="{{percentage}}" dataTime="{{time}}" dataTimeAllowed="{{timeAllowed}}" dataCanRetake="{{canRetake}}" dataTestId="{{this.testId}}" dataCategoryId="{{this.categoryId}}">
                        <button dataId="{{id}}" class="btn download-user-results-button btn_height">Download results</button>
                    </td>
                </tr>
                {{/unless}}
                {{#unless testNotTaken}}
                <tr>
                    <td>
                       <button dataId="{{id}}" class="btn view-results-button btn_height">View results</button>
                    </td>
                </tr>
                {{/unless}}
                <tr>
                    <td>
                        <button dataId="{{id}}" class="btn delete-user-btn btn_height">Delete user</button>
                    </td>
                </tr>
            </table>
        </td>
        <td colspan="5">
            <table class="col-xs-10">
                <tr>
                    <th>Category:</th>
                    <td class="categoryName">{{categoryName}}</td>
                    <th>Test allocated:</th>
                    <td class="testAllocated">{{testAllocated}}</td>
                    <th>Time allowed:</th>
                    <td class="time">{{timeAllowed}}</td>
                </tr>
            </table>
        {{#each results}}
        <table class="col-xs-12 table-data-border">
              <tr>
                <th class="score-th-width">Score:</th>
                    <td class="score score-td-width">
                        {{#if testNotTaken}}
                                {{testNotTaken}}
                            {{else}}
                                {{score}}
                        {{/if}}
                    </td>
                <th class="date-th-width">Date:</th>
                    <td class="date date-td-width">
                        {{#if testNotTaken}}
                              {{testNotTaken}}
                            {{else}}
                               {{dateCreated}}
                        {{/if}}
                    </td>
                {{#if time}}
                <th class="time-th-width">Time taken:</th>
                    <td class="time time-td-width">{{time}}</td>
                {{/if}}
                  <th class="empty-cell-width"></th>
                  <td></td>
                {{#if this.autoCompleted}}
                 <th class="autoCompleted-th-width" >Auto completed:</th>
                    <td class="autoComplete autoCompleted-td-width-icon">Yes <i class="bi bi-exclamation-diamond"/></td>
                 {{/if}}
                </tr>
        </table>
        {{/each }}
        </td>
</tr>
{{/each}}