{{#each data}}
<tr
    {{#if this.topGrade}}
         class="top-grade first-row"
    {{else if this.passingGrade}}
         class="passing-grade first-row"
    {{else if this.fail}}
         class="dubious-grade first-row"
    {{else if this.notTakenYet}}
         class="test-not-taken first-row"
    {{/if}}>
    <td dataId="{{id}}" dataName="{{name}}" dataEmail="{{email}}"  dataPercentage="{{percentage}}" dataTime="{{time}}" dataTimeAllowed="{{timeAllowed}}" dataCanRetake="{{canRetake}}" dataTestId="{{this.testId}}">
       <button class="btn more-info-button btn_height" data-id="{{id}}">More Info</button>
     </td>
     <td class="name">{{name}}</td>
     <td class="email">{{email}}</td>
     <td class="percentage">{{percentage}}</td>
     <td class="date"></td>
</tr>
<tr data-id="{{id}}"
        {{#if this.topGrade}}
            class="top-grade secondRow hide"
        {{else if this.passingGrade}}
             class="passing-grade secondRow hide"
        {{else if this.fail}}
             class="dubious-grade secondRow hide"
        {{else if this.notTakenYet}}
             class="test-not-taken secondRow hide"
        {{/if}}>
        <td>
{{!--          first column --}}
            <table>
                <tr>
                    <td>
                        <button dataId="{{id}}" dataName="{{name}}" dataEmail="{{email}}"  dataPercentage="{{percentage}}" dataTime="{{time}}" dataTimeAllowed="{{timeAllowed}}" dataCanRetake="{{canRetake}}" dataTestId="{{this.testId}}" class="btn edit-user-button btn_height modalBtn">Edit User</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button dataId="{{id}}" class="btn delete-user-button btn_height">Delete User</button>
                    </td>
                </tr>
                    {{#unless testNotTaken}}
                           <td dataId="{{id}}" dataName="{{name}}" dataEmail="{{email}}"  dataPercentage="{{percentage}}" dataTime="{{time}}" dataTimeAllowed="{{timeAllowed}}" dataCanRetake="{{canRetake}}" dataTestId="{{this.testId}}">
                                    <button dataId="{{id}}" class="btn download-user-results-button btn_height">Download Results</button>
                                </td>
                     {{/unless}}
                <tr>
                </tr>
                <tr>
                    <td>
                    {{#unless testNotTaken}}
                           <button dataId="{{id}}" class="btn view-results-button btn_height">View Results</button>
                     {{/unless}}
                    </td>
                </tr>
            </table>
        </td>
        <td>
{{!--          second column --}}
            <table>
                <tr>
                    <th>Category Name:</th>
                </tr>
                <tr>
                    <td>Score:</td>
                </tr>
                <tr>
                    <td>Test Allocated:</td>
                </tr>
            </table>
        </td>
        <td>
{{!--          third column --}}
            <table>
                <tr>
                    <td class="categoryName">{{categoryName}}</td>
                </tr>
                <tr>
                    <td class="score">{{score}}</td>


                </tr>
                <tr>
                    <td class="testAllocated">{{testAllocated}}</td>
                </tr>
            </table>
        </td>
        <td>
{{!--          forth column --}}
            <table>
                <tr>
                    <td>Date:</td>
                </tr>
                <tr>
                    <td>Time Allowed:</td>
                </tr>
                <tr>
                    <td>Time Taken:</td>
                </tr>

            </table>
        </td>
        <td>
{{!--          fifth column --}}
            <table>
                <tr>
                    <td class="date">{{#if testNotTaken}}
                                          {{testNotTaken}}
                                      {{else}}
                                           {{dateCreated}}
                                      {{/if}}</td>
                </tr>
                <tr>
                    <td class="time">{{timeAllowed}}</td>
                </tr>
                <tr>
                    <td class="time">{{time}}</td>
                </tr>
            </table>
        </td>
</table>
</tr>
{{/each}}
