{{#each data}}
<tr
    {{#if this.topGrade}}
         class="top-grade"
    {{else if this.passingGrade}}
         class="passing-grade"
    {{else if this.fail}}
         class="dubious-grade"
    {{else if this.notTakenYet}}
         class="test-not-taken"
    {{/if}}>
        <td dataId="{{id}}" dataName="{{name}}" dataEmail="{{email}}"  dataPercentage="{{percentage}}" dataTime="{{time}}" dataTimeAllowed="{{timeAllowed}}" dataCanRetake="{{canRetake}}" dataTestId="{{this.testId}}">
            <button class="btn edit-user-button btn_height modalBtn">Edit User</button>
            <button class="btn delete-user-button btn_height">Delete User</button>
            {{#unless testNotTaken}}
               <button class="btn download-user-results-button btn_height">Download Results</button>
               <button class="btn view-results-button btn_height">View Results</button>
               <button class="btn score-breakdown-button btn_height">Score Breakdown</button>
            {{/unless}}
        </td>
        <td class="name">{{name}}</td>
        <td class="email">{{email}}</td>
        <td class="categoryName">{{categoryName}}</td>
        <td class="score">{{score}}</td>
        <td class="percentage">{{percentage}}</td>
        <td class="testAllocated">{{testAllocated}}</td>
        <td class="time">{{timeAllowed}}</td>
        <td class="time">{{time}}</td>
        <td class="date">{{#if testNotTaken}}
                              {{testNotTaken}}
                         {{else}}
                              {{dateCreated}}
                         {{/if}}</td>
</tr>
{{/each}}