{{#each data}}
<tr
    {{#if this.topGrade}}
         class="top-grade key-user-information-data-row"
    {{else if this.passingGrade}}
         class="passing-grade key-user-information-data-row"
    {{else if this.fail}}
         class="dubious-grade key-user-information-data-row"
    {{else if this.notTakenYet}}
         class="test-not-taken key-user-information-data-row"
    {{/if}}>
    <td dataId="{{id}}" dataName="{{name}}" dataEmail="{{email}}"  dataPercentage="{{percentage}}" dataTime="{{time}}" dataTimeAllowed="{{timeAllowed}}" dataCanRetake="{{canRetake}}" dataTestId="{{this.testId}}">
       <button class="btn more-info-button btn_height" data-id="{{id}}">More info</button>
     </td>
     <td class="name">{{name}}</td>
     <td class="email">{{email}}</td>
     <td class="percentage">{{percentage}}</td>
     <td class="date"></td>
</tr>
<tr data-id="{{id}}"
        {{#if this.topGrade}}
            class="top-grade user-information-secondary-data-row hide"
        {{else if this.passingGrade}}
             class="passing-grade user-information-secondary-data-row hide"
        {{else if this.fail}}
             class="dubious-grade user-information-secondary-data-row hide"
        {{else if this.notTakenYet}}
             class="test-not-taken user-information-secondary-data-row hide"
        {{/if}}>
        <td>
            <table>
                <tr>
                    <td>
                        <button dataId="{{id}}" dataName="{{name}}" dataEmail="{{email}}"  dataPercentage="{{percentage}}" dataTime="{{time}}" dataTimeAllowed="{{timeAllowed}}" dataCanRetake="{{canRetake}}" dataTestId="{{this.testId}}" class="btn edit-user-button btn_height modalBtn">Edit user</button>
                    </td>
                </tr>
                {{#unless testNotTaken}}
                <tr>
                    <td dataId="{{id}}" dataName="{{name}}" dataEmail="{{email}}"  dataPercentage="{{percentage}}" dataTime="{{time}}" dataTimeAllowed="{{timeAllowed}}" dataCanRetake="{{canRetake}}" dataTestId="{{this.testId}}">
                        <button dataId="{{id}}" class="btn download-user-results-button btn_height">Download results</button>
                    </td>
                </tr>
                {{/unless}}
                {{#unless testNotTaken}}
                <tr>
                    <td>
                       <button dataId="{{id}}" class="btn view-results-button btn_height">View results</button>
                    </td>
                </tr>
                {{/unless}}
                <tr>
                    <td>
                        <button dataId="{{id}}" class="btn delete-user-btn btn_height">Delete user</button>
                    </td>
                </tr>
            </table>
        </td>
        <td colspan="4">
            <table class="col-xs-4">
                <tr>
                    <th>Category:</th>
                    <td class="categoryName">{{categoryName}}</td>
                </tr>
                <tr>
                    <th>Score:</th>
                    <td class="score">{{#if testNotTaken}}
                        {{testNotTaken}}
                    {{else}}
                        {{score}}
                    {{/if}}</td>
                </tr>
                <tr>
                    <th>Test allocated:</th>
                    <td class="testAllocated">{{testAllocated}}</td>
                </tr>
            </table>
            <table class="col-xs-4">
                <tr>
                    <th>Date:</th>
                    <td class="date">{{#if testNotTaken}}
                        {{testNotTaken}}
                    {{else}}
                        {{dateCreated}}
                    {{/if}}</td>
                </tr>
                <tr>
                    <th>Time allowed:</th>
                    <td class="time">{{timeAllowed}}</td>
                </tr>
                {{#if time}}
                <tr>
                    <th>Time taken:</th>
                    <td class="time">{{time}}</td>
                </tr>
                {{/if}}
                {{#if this.autoCompleted}}
                <tr>
                    <th>Auto completed:</th>
                    <td class="autoComplete">Yes</td>
                </tr>
                {{/if}}
            </table>
        </td>
</tr>
{{/each}}
