<!-- handlebarsHelpers.js is required for ifCond-->

<div class="editmodalquestions" id="{{id}}">
    <form>
        <label for="q_text">Question: </label>
        <input id="q_text" type="text" value="{{text}}"/>

        <label for="q_option1">Option 1: </label>
        <input id="q_option1" type="text" name="option1" value="{{option1}}"/>
        <input type="radio" name="answer" value="1" {{#ifCond answer '==' 1}}checked{{/if}}>

        <label for="q_option2">Option 2: </label>
        <input id="q_option2" type="text" name="option2" value="{{option2}}"/>
        <input type="radio" name="answer" value="2" {{#ifCond answer '==' 2}}checked{{/if}}>

        <label for="q_option3">Option 3: </label>
        <input id="q_option3" type="text" name="option3" value="{{option3}}"/>
        <input type="radio" name="answer" value="3" {{#ifCond answer '==' 3}}checked{{/if}}>

        <label for="q_option4">Option 4: </label>
        <input id="q_option4" type="text" name="option4" value="{{option4}}"/>
        <input type="radio" name="answer" value="4" {{#ifCond answer '==' 4}}checked{{/if}}>

        <label for="q_option5">Option 5: </label>
        <input id="q_option5" type="text" name="option5" value="{{option5}}"/>
        <input type="radio" name="answer" value="5" {{#ifCond answer '==' 1}}checked{{/if}}>

        <input type="submit" name="{{id}}">
    </form>
</div>

