<!-- handlebarsHelpers.js is required for ifCond-->
<!-- needs editQuestion.css for styles-->
<div class="container">
    <form id="question" data-id="{{id}}">

        <div class="answers">
            <h4 class="page-text">Edit the question below</h4>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Question:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="question" required>{{text}}</textarea>
            </div>
            <div class="form-group">
                <label for="option1">Option 1:</label>
                <textarea class="form-control answer" id="option1" rows="2" name="option1" required>{{option1}}</textarea>
                <input id="ans1" class="answer-check" type="radio" name="answer-check" value="1">
            </div>
            <div class="form-group">
                <label for="option2">Option 2:</label>
                <textarea class="form-control answer" id="option2" rows="2" name="option2" required>{{option2}}</textarea>
                <input id="ans2" class="answer-check" type="radio" name="answer-check" value="2">
            </div>
            <div class="form-group">
                <label for="option3">Option 3:</label>
                <textarea class="form-control answer" id="option3" rows="2" name="option3">{{option3}}</textarea>
                <input id="ans3" class="answer-check" type="radio" name="answer-check" value="3">
            </div>
            <div class="form-group">
                <label for="option4">Option 4:</label>
                <textarea class="form-control answer" id="option4" rows="2" name="option4">{{option4}}</textarea>
                <input id="ans4" class="answer-check" type="radio" name="answer-check" value="4">
            </div>
            <div class="form-group">
                <label for="option5">Option 5:</label>
                <textarea class="form-control answer" id="option5" rows="2" name="option5">{{option5}}</textarea>
                <input id="ans5" class="answer-check" type="radio" name="answer-check" value="5">
            </div>
        </div>
        <div id="test_id">
            {{#each data}}
                <option value="{{id}}">{{name}}</option>
            {{/each}}
        </div>
        <div id="message-target"></div>
        <div class="buttons">
            <div class="messageArea">
                <span id="message"></span>
            </div>
            <input class="submit" type="submit" value="Submit">
        </div>
    </form>
</div>

