<div class="editmodal" dataId="{{id}}">
    <input id="firstName" class="editUserData" type="text" name="name" value="{{name}}">
    <input id="email" class="editUserData" type="text" name="email" value="{{email}}">
    <input id="id" class="editUserData" type="hidden" name="id" value="{{id}}">
    <input id="originalEmail" type="hidden" name="originalEmail" value="{{email}}">
    <input id="canRetake" type="checkbox" {{#if canRetake}}checked{{/if}}>
    <button id="editSubmit">Submit changes</button>
</div>