<tr data-id="{{id}}">
    <td class="question_id">{{id}}</td>
    <td class="question_column">{{question}}</td>
    {{#if isAnswered}}
        <td class="glyphicon glyphicon-ok"></td>
    {{else}}
        <td class="glyphicon glyphicon-remove"></td>
    {{/if}}
    {{#if isFlagged}}
        <td class="glyphicon glyphicon-flag"></td>
    {{else}}
        <td></td>
    {{/if}}
    <td><button class="btn return-to-question"><i class="glyphicon glyphicon-arrow-left"></i> </button></td>
</tr>