<section class="container">
    <img class="logo" alt="Mayden Logo" src="images/branding-icons/maydenacademy_logotype_05.18_web.svg">
    <div class="row">
        <div class="col-xs-12">
            <div class="container_input display-flex">
                <input type="submit" id="back" value="&#8592; Back"/>
                <input type="submit" id="addQuestion" value="Add Question"/>
            </div>
            <table class="table question-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Question ID</th>
                        <th>Question</th>
                        <th>Test ID</th>
                    </tr>
                </thead>
                <tbody class="score_list user-table">
                    {{#each data}}
                        <tr>
                            <td dataId="{{id}}" dataQuestion="{{this.text}}">
                                <button class="btn edit-question-button btn_height modalBtn" id="{{this.id}}">Edit Question</button>
                                <button class="btn delete-question-button btn_height" id="{{this.id}}>Delete Question</button>
                            </td>
                            <td class="question_id">{{this.id}}</td>
                            <td class="question">{{this.text}}</td>
                            <td class="test_id">{{this.test_id}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</section>