<div class="question q_{{questionOrderId}}" data-id="{{id}}" data-question-order-id="{{questionOrderId}}">
    <div>
        <h2 class="description_label_{{questionOrderId}}"></h2>
        <p class="description_text_{{questionOrderId}}"></p>
    </div>
    <p class="question_text">{{text}}</p>
    <div class="img_{{questionOrderId}}"></div>
    <div class="answers">
        {{#if option1}}
        <p>
            <input type="radio" name="answer_{{id}}" value="1">{{option1}}
        </p>
        {{/if}}
        {{#if option2}}
        <p>
            <input type="radio" name="answer_{{id}}" value="2">{{option2}}
        </p>
        {{/if}}
        {{#if option3}}
        <p>
            <input type="radio" name="answer_{{id}}" value="3">{{option3}}
        </p>
        {{/if}}
        {{#if option4}}
        <p>
            <input type="radio" name="answer_{{id}}" value="4">{{option4}}
        </p>
        {{/if}}
        {{#if option5}}
        <p>
            <input type="radio" name="answer_{{id}}" value="5">{{option5}}
        </p>
        {{/if}}
    </div>
    <div class="textBox">
        <label>Question notes:</label>
        <textarea name="answer_{{id}}" rows="7" cols="50"></textarea>
    </div>
</div>
