<head>
    <style>
        .card {
            margin: 10px;
        }
    </style>
</head>
<body>
	<table class="table">
		     <thead>
		         <tr class="d-flex">
		             <th scope="col" class="col-1">#</th>
		             <th scope="col" class="col-2">Question</th>
		             <th scope="col" class="col-2">Answer</th>
		             <th scope="col" class="col-2">Right Answer</th>
		             <th scope="col" class="col-2">Correct</th>
		             <th scope="col" class="col-2">Notes</th>
		         </tr>
		     </thead>
		     <tbody>
		         {{#each this}}
		         <tr
		             {{#if correct}}
		                 class="rightAnswer"
		             {{else}}
		                 class="wrongAnswer"
		             {{/if}}>
		             <td>{{result}}</td>
		             <td>{{question}}</td>
		             <td>{{answerOption}}</td>
		             <td>{{rightAnswer}}</td>
		             <td>
		                 {{#if correct}}
		                     ✔
		                 {{else}}
		                     ✕
		                 {{/if}}
		             </td>
		             <td>
		             {{#if notes}}
		                <button class="primary-button" type="button" data-toggle="collapse" data-target="#collapseNotes{{result}}" aria-expanded="false" aria-controls="collapseNotes">
                        Notes </button>
                        <div class="collapse" id="collapseNotes{{result}}">
                          <div class="card card-body">
                            {{notes}}
                          </div>
                        </div>
		             </td>
		         </tr>
		         {{/if}}
		         {{/each}}
		     </tbody>
		 </table>
</body>