<head>
        <style>
            .notesActivate {
              background-color: #eee;
              color: #444;
              cursor: pointer;
              padding: 12px;
              width: 100%;
              text-align: left;
              border: none;
              outline: none;
              transition: 0.4s;
            }
            .active, .notesActivate:hover {
              background-color: #ccc;
            }
            .panel {
              padding: 0 18px;
              background-color: white;
            }
        </style>
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
</head>
<body>
	<table class="table">
		     <thead>
		         <tr class="d-flex">
		             <th scope="col" class="col-1">#</th>
		             <th scope="col" class="col-2">Question</th>
		             <th scope="col" class="col-2">Answer</th>
		             <th scope="col" class="col-2">Right Answer</th>
		             <th scope="col" class="col-2">Correct</th>
		             <th scope="col" class="col-2">Notes</th>
		         </tr>
		     </thead>
		     <tbody>
		         {{#each this}}
		         <tr
		             {{#if correct}}
		                 class="rightAnswer"
		             {{else}}
		                 class="wrongAnswer"
		             {{/if}}>
		             <td>{{result}}</td>
		             <td>{{question}}</td>
		             <td>{{answerOption}}</td>
		             <td>{{rightAnswer}}</td>
		             <td>
		                 {{#if correct}}
		                     ✔
		                 {{else}}
		                     ✕
		                 {{/if}}
		             </td>
		             <td>
		                <div class="notesButton">
		                    <button class="notesActivate">Notes</button>
                            <div class="panel">
                                <p>notes: {{notes}}</p>
                            </div>
		                </div>
		             </td>
		         </tr>
		         {{/each}}
		     </tbody>
		 </table>
</body>