<div class="entry">
    <div class="user_item" dataId="{{id}}" dataName="{{name}}" dataEmail="{{email}}">
        <p class="name">Name: {{name}}</p>
        <p class="email">Email: {{email}}</p>
        <button class="btn btn-primary btn_height modalBtn">Edit User</button>
        <button type="button" class="btn btn-danger btn_height">Delete entry?</button>
    </div>
</div>


