<head>
    <style>
        .modal-backdrop.in {
          opacity: 0;
        }
        .modal-backdrop {
          z-index: -1;
        }
    </style>
</head>
<body>
	<table class="table">
		     <thead>
		         <tr class="d-flex">
		             <th scope="col" class="col-1">#</th>
		             <th scope="col" class="col-2">Question</th>
		             <th scope="col" class="col-2">Answer</th>
		             <th scope="col" class="col-2">Right Answer</th>
		             <th scope="col" class="col-2">Correct</th>
		             <th scope="col" class="col-2">Notes</th>
		         </tr>
		     </thead>
		     <tbody>
		         {{#each this}}
		         <tr
		             {{#if correct}}
		                 class="rightAnswer"
		             {{else}}
		                 class="wrongAnswer"
		             {{/if}}>
		             <td>{{result}}</td>
		             <td>{{question}}</td>
		             <td>{{answerOption}}</td>
		             <td>{{rightAnswer}}</td>
		             <td>
		                 {{#if correct}}
		                     ✔
		                 {{else}}
		                     ✕
		                 {{/if}}
		             </td>
		             <td>
		             {{result}}
		                <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#notesCollapse">Notes</button>
                        <!-- Collapse -->
                        <div class="collapse fade" id="notesCollapse" aria-labelledby="notesModalLabel" aria-hidden="true">
                            <div class="modal-body">
                              <p>{{notes}} {{result}}</p>
                            </div>
                        </div>
                        <script>
                            function addEventListenersForMoreInfoButtons() {
                                let moreInfoButtons = document.querySelectorAll(".more-info-button")
                                moreInfoButtons.forEach(function (moreInfoButton) {
                                    moreInfoButton.addEventListener('click', function (e: any) {
                                        let userId = e.target.parentElement.getAttribute("dataId")
                                        document.querySelector('tr[data-id="' + userId + '"]').classList.toggle('hide')
                                        if(this.textContent == 'More info') {
                                            this.textContent = 'Less info';
                                        } else {
                                            this.textContent = 'More info';
                                        }
                                    })
                                })

                            }
                        </script>
		             </td>
		         </tr>
		         {{/each}}
		     </tbody>
		 </table>
</body>