<div class="entry">
    <div class="user_item" dataId="{{id}}" dataName="{{name}}" dataEmail="{{email}}" dataTime="{{time}}" dataCanRetake="{{canRetake}}">
        <p class="name">Name: {{name}}</p>
        <p class="email">Email: {{email}}</p>
        <p class="time">Time Allowed: {{time}}</p>
        <button class="btn btn_height modalBtn primary-button">Edit User</button>
        <button type="button" class="btn btn-danger btn_height">Delete User</button>
    </div>
</div>


