<head>
    <style>
        .modal-backdrop.in {
          opacity: 0;
        }
        .modal-backdrop {
          z-index: -1;
        }
    </style>
</head>
<body>
	<table class="table">
		     <thead>
		         <tr class="d-flex">
		             <th scope="col" class="col-1">#</th>
		             <th scope="col" class="col-2">Question</th>
		             <th scope="col" class="col-2">Answer</th>
		             <th scope="col" class="col-2">Right Answer</th>
		             <th scope="col" class="col-2">Correct</th>
		             <th scope="col" class="col-2">Notes</th>
		         </tr>
		     </thead>
		     <tbody>
		         {{#each this}}
		         <tr
		             {{#if correct}}
		                 class="rightAnswer"
		             {{else}}
		                 class="wrongAnswer"
		             {{/if}}>
		             <td>{{result}}</td>
		             <td>{{question}}</td>
		             <td>{{answerOption}}</td>
		             <td>{{rightAnswer}}</td>
		             <td>
		                 {{#if correct}}
		                     ✔
		                 {{else}}
		                     ✕
		                 {{/if}}
		             </td>
		             <td>
		                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#notesModal">
                          Notes
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="notesModal" tabindex="-1" aria-labelledby="notesModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="notesModalLabel">Notes</h5>
                              </div>
                              <div class="modal-body">
                                <p>{{notes}}</p>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
		             </td>
		         </tr>
		         {{/each}}
		     </tbody>
		 </table>
</body>